<!doctype html>
{% load staticfiles %}
<html>

  <head>
      <title>IP Form</title>
      <link rel="stylesheet" href="{% static 'css/parseip_page.css' %}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src='{{ STATIC_URL }}js/parseip_page.js'></script>
  </head>
  <body>
    <h1>IP Address Translation</h1>
    <p>Please enter the IP addresses below you would like to reformat.</p>

    <textarea></textarea>
    <button>Translate</button>

  </body>
  <script>
    var handleClick = function() {
      var input = $( 'input' );
      var request = $.post(url="/ajax/parse/", format="json", data=input);
      request.done(function(data) {
        $( '<textarea id="returnedParse">' + data + '</textarea>' );
      });
    }

    $( 'button' ).on('click', handleClick);

  </script>

</html>
